<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :catalog_id %>
    <%= f.select :catalog_id, Catalog.all.collect { |catalog| [catalog.title, catalog.id] }, prompt: '--select--' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <nav>
      <div class="nav nav-tabs" role="tablist">
        <a id="content-tab" href="#content" class="nav-link active" data-toggle="tab" href="content" role="tab" aria-controls="content" aria-selected="true">Write</a>
        <a id="preview-tab" href="#preview" class="nav-link" data-toggle="tab" href="content" role="tab" aria-controls="preview" aria-selected="true">Preview</a>
      </div>
    </nav>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="content" role="tabpanel" aria-labelledby="content-tab">
        <%= f.text_area :content %>
      </div>
      <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="content-tab">
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
